Import dataset and data cleaning

In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.3.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
df <- read.csv("Cleaned_DS_Jobs.csv", header=TRUE)
df <- df %>% select(-c("Salary.Estimate", "Job.Description", "Company.Name", "Industry", "Location", "Headquarters", "same_state"))

head(df, 5)

  Job.Title         Rating Size                    Type.of.ownership
1 Sr Data Scientist 3.1    1001 to 5000 employees  Nonprofit Organization
2 Data Scientist    4.2    5001 to 10000 employees Company - Public
3 Data Scientist    3.8    1001 to 5000 employees  Private Practice / Firm
4 Data Scientist    3.5    501 to 1000 employees   Company - Public
5 Data Scientist    2.9    51 to 200 employees     Company - Private
  Sector            Revenue                    min_salary max_salary avg_salary
1 Insurance         Unknown / Non-Applicable   137        171        154
2 Business Services $1 to $2 billion (USD)     137        171        154
3 Business Services $100 to $500 million (USD) 137        171        154
4 Manufacturing     $100 to $500 million (USD) 137        171        154
5 Business Services Unknown / Non-Applicable   137        171        154
  job_state company_age python excel hadoop spark aws tableau big_data
1  NY       27          0      0     0      0     1   0       0
2  VA       52          0      0     1      0     0   0       1
3  MA       39          1      1     0      0     1   0       0
4  MA       20          1      1     0      0     1   0       0
5  NY       22          1      1     0      0     0   0       0
  job_simp       seniority
1 data scientist senior
2 data scientist na
3 data scientist na
4 data scientist na
5 data scientist na

In [ ]:
# Filter the original data frame based on selected sectors
selected_df <- subset(df, Sector %in% selected_sectors$Sector)
group <- unique(selected_df$Sector)
group