Import dataset and data cleaning

In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.3.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
df <- read.csv("Cleaned_DS_Jobs.csv", header=TRUE)
df <- df %>% select(-c("Salary.Estimate", "Job.Description", "Company.Name", "Industry", "Location", "Headquarters", "same_state"))

head(df, 5)

  Job.Title         Rating Size                    Type.of.ownership
1 Sr Data Scientist 3.1    1001 to 5000 employees  Nonprofit Organization
2 Data Scientist    4.2    5001 to 10000 employees Company - Public
3 Data Scientist    3.8    1001 to 5000 employees  Private Practice / Firm
4 Data Scientist    3.5    501 to 1000 employees   Company - Public
5 Data Scientist    2.9    51 to 200 employees     Company - Private
  Sector            Revenue                    min_salary max_salary avg_salary
1 Insurance         Unknown / Non-Applicable   137        171        154
2 Business Services $1 to $2 billion (USD)     137        171        154
3 Business Services $100 to $500 million (USD) 137        171        154
4 Manufacturing     $100 to $500 million (USD) 137        171        154
5 Business Services Unknown / Non-Applicable   137        171        154
  job_state company_age python excel hadoop spark aws tableau big_data
1  NY       27          0      0     0      0     1   0       0
2  VA       52          0      0     1      0     0   0       1
3  MA       39          1      1     0      0     1   0       0
4  MA       20          1      1     0      0     1   0       0
5  NY       22          1      1     0      0     0   0       0
  job_simp       seniority
1 data scientist senior
2 data scientist na
3 data scientist na
4 data scientist na
5 data scientist na

In [5]:
size <- unique(df$Size)
size

[1] "1001 to 5000 employees"  "5001 to 10000 employees"
[3] "501 to 1000 employees"   "51 to 200 employees"
[5] "10000+ employees"        "201 to 500 employees"
[7] "1 to 50 employees"       "-1"
[9] "Unknown"

In [7]:
# Company size
size <- as.data.frame(table(df$Size))
size <- size[order(size$Freq, decreasing=TRUE), ]
size

  Var1                    Freq
8 51 to 200 employees     128
4 1001 to 5000 employees  104
2 1 to 50 employees        84
5 201 to 500 employees     83
3 10000+ employees         79
7 501 to 1000 employees    77
6 5001 to 10000 employees  61
1 -1                       27
9 Unknown                  17

Assume company size with 1 to 50 employees as small company and company size with 10000+ employees as large company. Hence, we will extract out company size with 1 to 50 employees and 10000+ employees.

In [24]:
salary_Size <- subset(df, select=c("avg_salary", "Size"))
large <- salary_Size[salary_Size$"Size" == "10000+ employees", "avg_salary"]  
small <- salary_Size[salary_Size$"Size" == "1 to 50 employees", "avg_salary"]

In [21]:
var.test(large, small)

	F test to compare two variances

data:  large and small
F = 0.92366, num df = 78, denom df = 83, p-value = 0.7245
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.5956442 1.4366841
sample estimates:
ratio of variances
         0.9236619

In [25]:
t.test(large, small,var.equal=T)

	Two Sample t-test

data:  large and small
t = 0.46414, df = 161, p-value = 0.6432
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -8.995697 14.523425
sample estimates:
mean of x mean of y
 122.6329  119.8690